.app-navigation {
  grid-area: n;
  background-color: #99CCFF;
}

.navigation-link-container { 
  color: white;
  margin-left: 10px;
  font-size: 1.2rem;
  transition: .5s;
  cursor: pointer;
}

.navigation-link-container .active {
  text-decoration: underline;
  color: black;
}

.navigation-link-container:last-child {
  margin-top: 10px;
}

.navigation-link-container:hover {
  color: black;
  text-decoration: wavy;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}