.app-header {
  grid-area: h;
  display: flex;
  align-items: center;
}

.app-header img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

.app-header {
  background-color: #66CCCC;
}

.header-information {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 80%;
  justify-content: center;
  align-items: left;
}

.header-information_email,
.header-information_login {
  font-size: 15px;
  margin: 0 auto 5px auto;
}